.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.card-header {
    background-color: #17a2b8;
}

.card-body {
    background-color: #f8f9fa;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    }

    .m-0 {
        color: blueviolet;
        font-weight: bold;
    }

.card-footer {
    background-color: blueviolet;
}

.btn-link {
    color: #FFFFFF;
    font-weight: bold;
}